head{
    color: gray;
}
#contactMe {


        font-family: Paytone One, serif;
        font-size: 44px;
        margin-left: 309px;

        background: linear-gradient(to right, rgba(35, 130, 199, 1) 0%, rgba(180, 71, 71, 1) 29%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}




#contactPa{
    background:gray;
    color: white;
    padding: 10px;
    font-size: 19px;
    width: 645px;
    max-width: fit-content;

}

.contactTxt {

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 8px;

    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;

}

#socialImageInContact{

    position: relative;
    left: 236px;
    background: gray;
    width:412px ;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 24px;


}

.placeholderNormal {

    background: linear-gradient(to right, rgba(84, 149, 195, 1) 0%, rgba(243, 243, 243, 1) 100%);
    width: 419px;
    height: 39px;
    border-radius: 30px;
    border-color: transparent;


}

#placeholderNormalTxtArea{

    width: 419px;
    height: 209px;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(84, 149, 195, 1) 0%, rgba(243, 243, 243, 1) 100%);
    border-color: transparent;


}

#msgBtn{

    width: 167px;
    height: 37px;
    background: linear-gradient(to right, rgba(84, 149, 195, 1) 0%, rgba(243, 243, 243, 1) 100%);
    border-radius: 30px;
    position: relative;
    left: 236px;
    border-color: transparent;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    font-size: 19px;
    font-family: Paytone One, serif;


}
#msgBtn:hover {
    opacity: 1;
    transform: scale(1.1);


}

#contactBody{

    position: relative;
    left: 252px;
}

#contactBody h3{

    background: lightcoral;
    color: white;
    font-size: 27px;
    font-family: Orelega One, serif;
}


.contactBody{
    display: inline-block;
    position: absolute;
    right: 322px;
}