body{    background: linear-gradient(to right,rgba(5, 7, 10, 1),rgba(16, 33, 56, 1),rgba(2, 2, 5, 1));
}

.main-root{
    width: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
}
header{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 13px;
    position: relative;
    top: 0;
    z-index: 10000;
}
header h1 {
    color: white;
    font-size: 1.625em;
    font-family: Inter, sans-serif;
    font-weight: bold;

}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline;

}

nav ul li  a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: Inria Sans, sans-serif;
    font-weight: bold;
}



.homeContainer {
    display:  flex;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    place-items: center;
    column-gap: 221px;
    position: relative;
    text-align: center;
    align-items: center;
}
.homeContainer >div:first-child{
    position: relative;
    left: 150px;
    top: 100px;


}
.homeContainer >div:first-child > h1{
    position: relative;
    font-family: Inter, sans-serif;
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.name{
    color: rgba(138, 143, 255, 1);
}
.homeContainer >div:first-child > h2{
    position: relative;
    font-family: Inter, serif;
    color: white;
    font-size: 28px;
    font-weight: bolder;
    top: -32px;


}
section h4{
    text-align: center;
    font-size: 24px;
    font-family: Istok Web, serif;
    color: white;
    position: relative;
    margin-top: 159px;
}




#socialImage{
    position: relative;
    background: gray;
    width:382px ;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 24px;

}

.homeContainer >div:first-child > h3{
    background: linear-gradient(to right,rgba(145, 85, 76, 1),rgba(24, 97, 137, 1));
    color: transparent;
    background-clip: text;
    width: 220px;
    text-align: center;
    position:absolute ;
    left: 77px;
    top: 265px;
    font-family: Inter, serif;
    font-size: 30px;

}



#profilePic{


    position: relative;



}


#profilePic img {
    clip-path: ellipse(44% 50%);
    width: 540px;
    height: 520px;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    top: 71px;
    left: -1px;

}

.circle{
    width: 445px;
    height: 445px;
    background: linear-gradient(to right, rgba(37, 89, 121, 1), rgba(30, 38, 51, 1));
    border-radius: 50%;
    position: absolute;
    margin-top: -379px;
    margin-left: 46px;
    z-index: -1;
    opacity: 0.8;


}

.backCircle{
    width: 500px;
    height: 500px;
    background:linear-gradient(to right, rgba(37, 89, 121, 1), rgba(30, 38, 51, 1));
    border-radius: 50%;
    position: absolute;
    margin-top: -410px;
    margin-left: 19px;
    z-index: -2;
    filter: blur(19px);
}

#about{
    position: relative;
    background: rgba(62, 64, 99, 1);
    margin: 150px;
    height: 709px;
    opacity: 0.8;
    border-radius: 75px;
}

#about > :first-child{
    position: absolute;
    background: linear-gradient(to right,rgba(54, 121, 212, 1),rgba(255, 255, 255, 1));
    background-clip: text;
    color: transparent;
    width: 220px;
    font-family: Inter, sans-serif;
    font-size: 48px;
    top: 10px;
    font-weight: bolder;
    margin-left: 71px;
}
#about > div > p {
    position: absolute;
    color: white;
    top: 188px;
    left: 200px;
    width: 40%;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;

}





#mySkill > h1{

    position: relative;
    background: linear-gradient(to right,rgba(33, 108, 163, 1),rgba(180, 71, 71, 1));
    color: transparent;
    background-clip: text;
    width: 200px;
    font-family: Paytone One, sans-serif;
    font-size: 48px;
    top: 45%; /* Move the element down by 50% of the parent's height */
    left: 45%;
    font-weight: bolder;
    text-align: center;


}


    .skills{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);

    }




    .skillContext > h3{

        background: linear-gradient(to right,rgba(255, 252, 252, 1),rgba(115, 115, 115, 1));
        color: transparent;
        background-clip:text;
        text-align: center;
        position: relative;
        font-family: Inter, serif;
        font-size: 32px;
        font-weight: bold;
        top: 0;
    }


    #PlatformImages {
        display:grid ;
        position: relative;
        grid-template-columns: auto auto auto;
        gap: 90px;
    }

    #PlatformImages img{

        width: 62px;
        height: 62px;

    }

    .icon-item{
        text-align: center;
        font-family: Inter, serif;
        font-size: 20px;
        font-weight: bold;
        background: gray;
        border-radius: 50%;
        opacity: 0.8;
        width: 103px;
        height: 100px;
        color: white;
    }


    .icon-item p {

        margin-top: 21px;
    }
    .icon-item img {

        margin-top: 18px;

    }








    /*.skills h4{*/
    /*    text-align: center;*/
    /*    font-family: Koulen, sans-serif;*/

    /*}*/

    /*.skills p{*/
    /*    text-align: center;*/
    /*    padding: 15px 15px*/
    /*}*/

    /*.card{*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(2 ,1fr);*/
    /*    gap: 12px;*/
    /*}*/


    /*.skillCard{*/

    /*    background: gray;*/
    /*    border-radius: 38px;*/







    /*#project{*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    width:100%;*/


    /*}*/



    /*@media (max-width: 1200px) {*/
    /*    #project{*/
    /*        flex-direction: column;*/
    /*    }}*/
    /*.btn {*/
    /*    display: inline-flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    padding: 10px 20px;*/
    /*    background-color: #007bff;*/
    /*    border-radius: 12px;*/
    /*    text-decoration: none;*/
    /*    color: white;*/
    /*    font-size: 16px;*/
    /*    transition: background-color 0.3s ease;*/
    /*}*/

    /*.btn:hover {*/
    /*    background-color: #0056b3;*/
    /*}*/


    /*.btn-text {*/
    /*    margin-right: 10px;*/
    /*}*/

    /*.btn-icons img {*/
    /*    margin-left: 5px;*/
    /*}*/

    /*.arrow {*/
    /*    width: 20px;*/
    /*    height: 20px;*/
    /*    position: relative;*/
    /*    top: -7px;*/
    /*    transition: transform 0.3s ease;*/
    /*}*/





    /*.btn:hover .arrow {*/
    /*    transform: translateX(10px); !* Arrow moves to the right on hover *!*/
    /*}*/


    /*#contactMe {*/


    /*    font-family: Paytone One, serif;*/
    /*    font-size: 44px;*/
    /*    margin-left: 309px;*/

    /*    background: linear-gradient(to right, rgba(35, 130, 199, 1) 0%, rgba(180, 71, 71, 1) 29%);*/
    /*    -webkit-background-clip: text;*/
    /*    -webkit-text-fill-color: transparent;*/

    /*}*/




    /*#contactPa{*/
    /*    background:gray;*/
    /*    color: white;*/
    /*    padding: 10px;*/
    /*    font-size: 19px;*/
    /*    width: 645px;*/
    /*    max-width: fit-content;*/

    /*}*/

    /*.contactTxt {*/

    /*    display: flex;*/
    /*    align-items: center;*/
    /*    gap: 10px;*/
    /*    padding: 10px 20px;*/
    /*    border-radius: 8px;*/
    /*    color: black;*/
    /*    font-size: 18px;*/
    /*    font-weight: bold;*/
    /*    font-family: Arial, sans-serif;*/

    /*}*/

    /*#socialImageInContact{*/

    /*    position: relative;*/
    /*    left: 236px;*/
    /*    background: gray;*/
    /*    width:412px ;*/
    /*    height: 93px;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    gap: 16px;*/
    /*    border-radius: 24px;*/


    /*}*/

    /*.placeholderNormal {*/

    /*    background: linear-gradient(to right, rgba(84, 149, 195, 1) 0%, rgba(243, 243, 243, 1) 100%);*/
    /*    width: 419px;*/
    /*    height: 39px;*/
    /*    border-radius: 30px;*/
    /*    border-color: transparent;*/


    /*}*/

    /*#placeholderNormalTxtArea{*/

    /*    width: 419px;*/
    /*    height: 209px;*/
    /*    border-radius: 30px;*/
    /*    background: linear-gradient(to right, rgba(84, 149, 195, 1) 0%, rgba(243, 243, 243, 1) 100%);*/
    /*    border-color: transparent;*/


    /*}*/

    /*#msgBtn{*/

    /*    width: 167px;*/
    /*    height: 37px;*/
    /*    background: linear-gradient(to right, rgba(84, 149, 195, 1) 0%, rgba(243, 243, 243, 1) 100%);*/
    /*    border-radius: 30px;*/
    /*    position: relative;*/
    /*    left: 236px;*/
    /*    border-color: transparent;*/
    /*    cursor: pointer;*/
    /*    opacity: 0.6;*/
    /*    transition: 0.3s;*/
    /*    font-size: 19px;*/
    /*    font-family: Paytone One, serif;*/


    /*}*/
    /*#msgBtn:hover {*/
    /*    opacity: 1;*/
    /*    transform: scale(1.1);*/


    /*}*/

    /*#contactBody{*/

    /*    position: relative;*/
    /*    left: 252px;*/
    /*}*/

    /*#contactBody h3{*/

    /*    background: lightcoral;*/
    /*    color: white;*/
    /*    font-size: 27px;*/
    /*    font-family: Orelega One, serif;*/
    /*}*/


    /*.contactBody{*/
    /*    display: inline-block;*/
    /*    position: absolute;*/
    /*    right: 322px;*/
    /*}*/

